
<div class="container">
<table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
 
       <tr>
         <th>Nom de livreur</th>
         <th>Téléphone</th>
         <th>Zone de travail</th>
    
         <th colspan="3" width="6%">
           Action
         </th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let liv of livs">
         <td><span>{{ liv.name }}</span></td>
         <td><span>{{ liv.tel }}</span></td>
         <td><span>{{ liv.adresse }}</span></td>
 
 
 
         <td><button class="btn btn-success" (click)="openWindowCustomClass(content)">
        
             <a  color="success"  > Notifier</a>
            </button>  </td>
 
 
 
       </tr>
     </tbody>
 
   </table>
</div>






<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title ">Succés</h4>
    <button type="button"  class="btn btn-success" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Notification envoyé !!</p>
  </div>
 
</ng-template>
 