<mat-toolbar color="primary"  >
  <mat-toolbar-row>
    <img src="../assets/daijaraIcon.png" width=" 118,327px" alt="">
    <div fxShow="true" fxHide.lt-md="true"  class="input-group">
      <input  type="text" class="form" placeholder="Tout nos catégories">


    </div>
    <img width="20px" height="20px" src="../assets/user.png" alt="">
    <a mat-button [routerLink]="'/login'">  S' IDENTIFIER </a>

    <a mat-button [routerLink]="'/cart'"> <img src="../assets/image.png" width="50px" height="50px" alt=""> PANIER </a>


  </mat-toolbar-row>
</mat-toolbar>

<mat-toolbar  color="secondary" >

    <div fxShow="true" fxHide.gt-sm="true">
    <button mat-icon-button  >
      <mat-icon [routerLink]="'/catalog'">menu</mat-icon>
    </button>
    </div>


    <div fxShow="true" fxHide.lt-md="true" >
      <a mat-button [routerLink]="'/catalog'">Tout nos produits </a>
      <a mat-button [routerLink]="'/catalog'"> <img height="21,5px" width="21,5px" src="../assets/DaijaraBasicsIcon.png" alt=""> Daijara Basics </a>

      <a mat-button [routerLink]="'/accounts'">  <img src="../assets//ElectrinquePhotoIcon.png" alt=""> Electronique et photo </a>
      <a mat-button [routerLink]="'/create-account'"> <img src="../assets/cuisineIcon.png" alt=""> Cuisine, Ménage et Salon </a>
      <a mat-button [routerLink]="'/contacts'"> <img src="../assets/ordinateurIcon.png" alt=""> Ordinateur </a>
      <a mat-button [routerLink]="'/create-contact'"> <img src="../assets/BeautyIcon.png" alt=""> Beauté </a>
      <a mat-button [routerLink]="'/activities'"> <img src="../assets/LoisirsIcon.png" alt=""> Sports et Loisirs </a>
      <a mat-button [routerLink]="'/create-activity'"> <img src="../assets/cadeauIcon.png" alt=""> Idées et Cadeau </a>
      <a mat-button [routerLink]="'/create-activity'"> <img src="../assets/VoyageIcon.png" alt=""> Voyages </a>


    </div>

 </mat-toolbar>
<div class="container">
  <div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div>

                <img width="140px"src="../assets/blank-profile-picture.png" alt="">
              </div>

            </div>
            <div class="aboutt">
              <a  [routerLink]="'/changepwd'"  style="color: #f08d5f"  >Modifier Mot de passe</a>


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 " >
              <h6 class="primary" style="color: #2A2F46">Informations personelles</h6>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <form *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
              <div class="form-group">
                <label for="name" class="name">Nom & Prénom</label>
                <input type="text" class="form-control"zzzz
                name="fullname"
                [(ngModel)]="form.fullname"
                required
                 fullname
                #fullname="ngModel" placeholder="Nom & Prénom">
                <div
                class="alert alert-danger"
                role="alert"
                *ngIf="fullname.errors && f.submitted"
              >Veuillez remplir ce champ !
              </div>
              </div>
              <div class="form-group">
                <label for="phone" class="nom">Téléphone</label>
                <input type="text" class="form-control"
                name="tel"
                [(ngModel)]="form.tel"
                required
                tel
                #tel="ngModel" placeholder="Enter votre numero portable">
                <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="tel.errors && f.submitted">
                    Veuillez remplir ce champ !
                  </div>
              </div>
              <div class="form-groupp">
                <label for="website" class="nom">Adresse complet</label>
                <input input type="text" class="form-control"
                name="adresse"
                [(ngModel)]="form.adresse"
                required
                adresse
                #adresse="ngModel" placeholder="Adresse complet ">
                <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="adresse.errors && f.submitted">
                    Veuillez remplir ce champ !
                  </div>
              </div>
              <hr>
              <div class="mt-5 text-center"><button class="btn btn-warning  btn-block" type="submit">Sauvegarder votre Profil</button></div>

            </form>
            <div class="alert alert-success" *ngIf="isSuccessful">
              Votre profile a été modifier avec succès!
              </div>
            </div>

          </div>

          </div>


          </div>
        </div>
      </div>
    </div>




