<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<div>
  <!-- container section start -->
  <section id="container" class="">


    <header class="header dark-bg">
      <div class="toggle-nav">
        <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i
            class="icon_menu"></i></div>
      </div>

      <!--logo start-->
      <a class="logo">Dashboard <span class="lite">Admin</span></a>
      <!--logo end-->
      <div class="nav search-row" id="top_menu">
      <!--  search form start -->
   <ul class="nav top-menu">
    <li>

    </li>
  </ul>

  




  <!--  search form end -->
</div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
          <li class="active">
            <a class="">
              <i class="icon_house_alt"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="sub-menu" routerLinkActive="active">
            <!-- <a href="javascript:;"  >
                            <i class="icon_document_alt"></i>
                            <span>Paramétres</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>  -->
            <ul class="sub">

              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="'/admin/profil'">
                  <p>Mon Profil</p>
                </a>
              </li>



              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="'/admin/stock'">
                  <p>Gestion des produits</p>
                </a>
              </li>

              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="'/admin/notif'">
                  <p>Liste livreurs </p>
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="'/admin/cmde'">
                  <p>Commandes</p>
                </a>
              </li>
            </ul>
          </li>





        </ul>

      </div>
    </aside>



    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <!-- <li><i class="fa fa-laptop"></i>Dashboard</li> -->
            </ol>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box blue-bg">
              <i class="fa fa-cloud-download"></i>
              <div class="count">6.674</div>
              <div class="title">Download</div>
            </div>
            <!--/.info-box-->
          </div>
          <!--/.col-->

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box brown-bg">
              <i class="fa fa-shopping-cart"></i>
              <div class="count">7.538</div>
              <div class="title">Purchased</div>
            </div>
            <!--/.info-box-->
          </div>
          <!--/.col-->

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box dark-bg">
              <i class="fa fa-thumbs-o-up"></i>
              <div class="count">4.362</div>
              <div class="title">Order</div>
            </div>
            <!--/.info-box-->
          </div>
          <!--/.col-->

          <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="info-box green-bg">
              <i class="fa fa-cubes"></i>
              <div class="count">1.426</div>
              <div class="title">Stock</div>
            </div>
            <!--/.info-box-->
          </div>
          <!--/.col-->

        </div>
        <!--/.row-->

        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>


      </section>


    </section>

  </section>


</div>
